@font-face {
  font-family: "Poppins";
  src: url("../src/fonts/Poppins-Light.ttf");
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(
    to right,
    #03001e,
    #7303c0,
    #ec36bc,
    #7303c0,
    #03001e
  );
}
